apiVersion: apps/v1
kind: Deployment
metadata:
  name: logoutput-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: logoutput
  template:
    metadata:                                                                 
      labels:
        app: logoutput
    spec:
      containers:
        - name: logoutput
          image: apopat/log-output:1.7.1
          env:
            - name: PORT
              value: "3000"